#work-bar {
    transition-duration: 0s;
}

#actions button {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2em;
    padding-left: 2em;
    margin: 0.1em;
}

.panel-title {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 1.6em;
}
